# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Project
*.iml
jdbc.properties
logback-log.xml
project.properties
applicationContext.xml
.idea


# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*.lst
*~

# OS or Editor folders
._*
.cache
.DS_Store
.DS_Store?
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
ehthumbs.db
Thumbs.db

# Jekyll metadata
docs/.jekyll-metadata

# Folders to ignore
bower_components
node_modules

# eclipse m2e
*.class
*.classpath
/bin/
/target/
/**/target/

